
#title {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#author {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}
#one {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#two {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#three {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#four {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}
#five {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#six {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#seven {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#eight {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#nine {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#ten {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#eleven {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#twelve {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#thirteen {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}

#fourteen {
  width: 110px;
  height: 110px;
  border: thin solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin: 100px;
}
