#title {
  padding-top: 100px;
  padding-left: 100px;
}

#author {
  padding-top: 25px;
  padding-left: 50px;
}

#line-1 {
  padding-top: 50px;
  padding-left: 75px;
}

#line-2 {
  padding-top: 50px;
  padding-left: 100px;
}

#line-3 {
  padding-top: 50px;
  padding-left: 125px;
}

#line-4 {
  padding-top: 50px;
  padding-left: 150px;
}

#line-5 {
  padding-top: 50px;
  padding-left: 150px;
}

#line-6 {
  padding-top: 50px;
  padding-left: 125px;
}

#line-7 {
  padding-top: 50px;
  padding-left: 100px;
}

#line-8 {
  padding-top: 50px;
  padding-left: 75px;
}

#line-9 {
  padding-top: 50px;
  padding-left: 75px;
}

#line-10 {
  padding-top: 50px;
  padding-left: 100px;
}

#line-11 {
  padding-top: 50px;
  padding-left: 125px;
}

#line-12 {
  padding-top: 50px;
  padding-left: 150px;
}

#line-13 {
  padding-top: 50px;
  padding-left: 175px;
}

#line-14 {
  padding-top: 50px;
  padding-left: 200px;
}

#line-15 {
  padding-top: 50px;
  padding-left: 225px;
}

#line-16 {
  padding-top: 50px;
  padding-left: 250px;
}
